{% extends "base.html" %}


{% block description %}
  <meta name="description" content="Couldn’t find the page you are looking for." />
{% endblock description %}

{% block content %}
  <section class="not-found">
    <div class="section-head">
      <h1>404</h1>
    </div>
    {% if config.extra.not_found_message %}
      <div class="markdown">{{ config.extra.not_found_message | markdown | safe }}</div>
    {% else %}
      <p>Couldn’t find the page you are looking for.</p>
    {% endif %}
    <a href="{{ get_url(path='') }}">Back to homepage</a>
  </section>
{% endblock content %}
